<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Shop online for fresh vegetables, fruits and grocery and get your order delivered at your doorstep. Enjoy instant delivery with Hello Kirana, This is a complete solution of an online grocery and ecommerce website." name="description">
    <link rel="icon" href="{% static "images/logo.png" %}" type="image/x-icon">
  
   
</head>
<body>
    {% include "bazaar/loader_whatsapp.html" %}
    {% include "bazaar/navbar.html" %}
    <br><br><br><br>

    <center>
      <h3 style="color: darkolivegreen;">Terms and Condition</h3>
      <h4 style="color: #9daf7d;">Online Grocery Shop</h4>
    
    
  
    Welcome to our Terms and Agreement Section! Like any company, we must bring to the notice the terms and conditions to protect in the interest of our valued customers and the company.
<br><br>
    In using the Pantry Pal Grocery Shopshopping service, you (The User) are deemed to have accepted the terms and conditions listed below.
     Pantry Pal Grocery Shopreserves the right to modify these terms and conditions at any point of time.
    <br><br>
    
    Registration Account details:-
    
    You agree to provide Pantry Pal Grocery Shopwith accurate and complete information as required by registration, ("Customer Registration Data"), including, but not limited to, your legal name, billing and delivery addresses, telephone number, , and promptly to notify Pantry Pal Grocery Shopof any change in your Customer Registration Data.
    <br><br>
    Products Prices are subject to change without prior notice by manufacturer or Online Grocery Shop<br>
    
    Products availability is subject to change without prior notice by Pantry Pal Grocery Shop<br>
    
    Pantry Pal Grocery Shopwill start to process the order right away once you place the order successfully with us. Please give us reasonable day time for secured and proper delivery.
    <br><br>
    When you opt Cash on Delivery Pantry Pal Grocery Shopalways try to make a confirmation about the order over phone before delivery. Exact amount of Cash will be collected when the order is delivered.
    <br><br>
    Pantry Pal Grocery Shopreserves the right to refuse or cancel any order placed for a product that is listed at an incorrect price or Out of Stock status. This shall be regardless of whether the order has been confirmed.
    <br><br>
    The images of products casted on Pantry Pal Grocery Shopare an image as per the original vendor’s products Pantry Pal Grocery Shopreserves no right on these images & right for them are reserved with the original vendors only.
    <br><br>
  </center>    
  {% include "bazaar/footer.html" %}
</body>
</html>